#trusted {
    padding: $pd-page;
    background-color: $bg-d-gray;
    p {
        font-weight: normal;
        color: black;
        padding: $pd-page;
        font-style: italic;
    }
}

img{
    max-width: 100%;
}


.card { //non va
    transition: transform .5s;
    &:hover {
        transform: scale (1.5)
    }
}

.logo-clients {
    padding: $pd-page;
    img {
        padding: 3%;
    }

}

#whats-new {
    padding: $pd-page;
}