.navbar {
    background-color: $second-color;
    border-bottom: 0.5px solid $border-bottom;
    position: fixed;
    z-index: 9;
    width: 100%;
      
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdownMenuButton {
    background-color: $primary-color;
    color: $second-color;
    font-weight: bold;
    float: right;
}