#purple-section {
    padding: $pd-page;
    background-color: $primary-color;
    color: $second-color;
    background-image: url('https://a.slack-edge.com/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png');
    background-repeat: repeat;
}